@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
}

/*
 -- Définition de bordure solide , arrondie et de couleur noire (border , border-style , border-radius , border-color)
 -- Ajout d'une image de fond et ajustement de la taille et du position (background-image , background-size , background-repeat , background-position)
 -- Définition de la hauteur et de la largeur de la bannière (height , width)
 -- Ajout d'une marge de 2px pour garantir un espacement entre les bordure (margin)
 -- Définition de la boite de dimensionnement pour inclure les bordures et le padding dans la largeur et la hauteur (box-sizing)
 -- Définition de l'affichage en flex pour permettre de centrer le texte verticalement et horizontalement (display , justify-content , align-items)
*/
#banniere{
    border: solid;
	border-style: groove;
	border-radius: 10px;
	border-color: #000000;
    background-image: url("../img/uqtr.png");
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
	height: 200px;
	width: 100%;
    margin: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*
    -- Definition de la taille de la police (font-size)
    -- Ajout de 1% de marge à droite pour éviter que le texte soit trop proche de la bordure (padding-right)
*/
#banniere h1{
    font-size: 20px;
    padding-right: 2px;
}

/*
    -- Position vers la gauche (float)
    -- Définition de bordure solide , arrondie et de couleur noire (border , border-style , border-radius , border-color)
    -- Définition de la taille de la police (font-size)
    -- Définition de la largeur de manière relative % (width)
    -- Définition de la marge pour éviter les bordures trop rapproché (margin)
    -- Définition de la boite de dimensionnement pour inclure les bordures et le padding dans la largeur et la hauteur (box-sizing)
*/
#menu{
    float: left;
    border: solid;
	border-style: groove;
	border-radius: 10px;
	border-color: #000000;
	font-size: 12px;
    width: 24%;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

/*
    -- Position du coté droit (float)
    -- Définition de bordure solide , arrondie et de couleur noire (border , border-style , border-radius , border-color)
    -- Définition de la taille de la police (font-size)
    -- Définition de la largeur de manière relative % (width)
    -- Définition de la boite de dimensionnement pour inclure les bordures et le padding dans la largeur et la hauteur (box-sizing)
    -- Définition de la taille de marge pour éviter les bordures trop rapproché (margin)
    -- Définition de la taille d'espacement interne pour éviter que le texte/tableau soit trop proche de la bordure (padding)
*/
#contenu{
    float: right;
    border: solid;
	border-style: groove;
	border-radius: 10px;
	border-color: #000000;
    font-size: 12px;
    width:74%;
    box-sizing: border-box;
    padding: 2px;
}

table{
    width: 100%;
}

th, td{
    border:1px solid;
    color: #000000;
    font-size: 12px;
}

